/* Basic Reset */
body, h1, h2, h3, p, ul, li, form, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 95%;
    max-width: 960px;
    border-radius: 10px;
    overflow: hidden;
}

.site-header {
    background-color: #57068C; /* NYU violet */
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-nav a {
    color: white;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.main-nav a:hover,
.main-nav a.active {
    background-color: #3e0257; /* Darker shade of violet */
}

h1, h2, h3 {
    text-align: center;
    color: #57068C;
}

.intro, .bike-options, .booking-form {
    margin: 1rem 0;
    padding: 1rem;
    background: white;
    border-radius: 5px;
}

.bike {
    margin-bottom: 1rem;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 2px solid #57068C;
    border-radius: 5px;
}

.btn-primary {
    background-color: #57068C; /* NYU violet */
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #3e0257;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #57068C;
    color: white;
    width: 100%;
}

/* Policy and Button Styling */
.policy {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.policy input[type='checkbox'] {
    margin-right: 10px;
}
.bike {
    text-align: center;
    width: 30%; /* Adjust based on preference and screen size */
    padding: 10px;
}

.bike img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.bikes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}
