/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    background-color: #ffffff;
    padding: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 380px;
    border-radius: 10px;
}

/* Logo styling */
.logo {
    display: block;
    margin: 0 auto 25px;
    width: 180px; /* Logo size can be adjusted */
}

h2 {
    text-align: center;
    color: #57068C; /* NYU violet */
    font-weight: bold;
    margin-bottom: 20px;
}

/* Input box styling */
.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: 2px solid #57068C;
    border-radius: 5px;
    box-sizing: border-box; /* Fixes padding and border issue */
}

.input-box select {
    width: 100%;
    padding: 12px;
    border: 2px solid #57068C;
    border-radius: 5px;
    box-sizing: border-box; /* Fixes padding and border issue */
}

/* Policy and Button Styling */
.policy {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.policy input[type='checkbox'] {
    margin-right: 10px;
}

.input-box.button input {
    background-color: #57068C; /* NYU violet */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 12px;
    font-size: 16px;
}

.input-box.button input:hover {
    background-color: #3e0257; /* Darker shade of violet */
}

.text h3 {
    text-align: center;
    color: #666;
    margin-top: 20px;
}

.text a {
    color: #57068C;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}
