<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bike</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/responsive.css" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="../static/images/nyuad logo.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
    <script defer>
      function checkLoginStatus() {
          const cookies = document.cookie.split(';');
          const sessionCookie = cookies.find(cookie => cookie.trim().startsWith('session_id='));
          if (sessionCookie) {
              const sessionValue = sessionCookie.split('=')[1];
              updateNavigation(true);  // Assume user is logged in if session cookie exists
          } else {
              updateNavigation(false);  // Assume user is not logged in
          }
      }

          function updateNavigation(isLoggedIn) {
          const navList = document.getElementById('navList');
          const logoHTML = `<li class="header-content hp-viewport bike-header"><a href="#"><img class="logo" src="../static/images/nyuad logo.png"></a></li>`;

          const links = isLoggedIn ? [
              { href: 'index.html', title: 'Home' },
              { href: 'about.html', title: 'About' },
              { href: 'bike.html', title: 'Book a Bike' },
              { href: 'contact.html', title: 'Contact us' },
              { href: '../python/profile.py', title: 'My Profile', img: '../static/images/dummy.png' }  // Add an image for the profile link
          ] : [
              { href: 'index.html', title: 'Home' },
              { href: 'about.html', title: 'About' },
              { href: 'contact.html', title: 'Contact us' },
              { href: 'login.html', title: 'Sign In' },
              { href: 'registration.html', title: 'Register' }
          ];

          navList.innerHTML = logoHTML + links.map(link => {
              if (link.img) {
                  return `<li><a href="${link.href}"><img src="${link.img}" class="profile-img">${link.title}</a></li>`;
              } else {
                  return `<li><a href="${link.href}">${link.title}</a></li>`;
              }
          }).join('');
      }
      document.addEventListener('DOMContentLoaded', checkLoginStatus);

      </script>
  </head>

  <body>
    <header>
      <div class="header-wrapper">
        <span class="menu-logo hp-viewport fas fa-ellipsis-h"></span>
        <ul id="navList" class="header-list">
          <!-- Navigation items will be injected here based on login status -->
        </ul>
      </div>
    </header>

    <main>
      <div class="bgimg display-container">
        <div class="display-middle center">
          <span class="text-white" style="font-size: 100px"
            >NYUAD<br />Bikeshare</span
          >
        </div>
      </div>

      <div class="section-container">
        <!-- Contact/Area Container -->
        <section id="where" style="padding-bottom: 32px">
          <div id="where-content" style="max-width: 700px; margin: 0 auto">
            <h5 style="text-align: center; padding: 48px 0">
              <span style="font-size: 24px">SIGN UP FOR OUR NEWSLETTER</span>
            </h5>
            <p>
              <span style="font-size: 14px"
                >Stay updated with the latest news and events!</span
              >
            </p>
            <p>
              <span style="font-size: 14px"
                >To sign up, simply enter your contacts below:</span
              >
            </p>
            <div id="statusMessage"></div>
            <form id="contactForm" action="../python/contact.py" method="post">
              <p style="margin-bottom: 16px">
                <input
                  style="
                    width: calc(100% - 32px);
                    padding: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                  "
                  type="text"
                  placeholder="Name"
                  id="name"
                  name="name"
                  required
                />
              </p>
              <p style="margin-bottom: 16px">
                <input
                  style="
                    width: calc(100% - 32px);
                    padding: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                  "
                  type="email"
                  placeholder="Email"
                  id="email"
                  name="email"
                  required
                />
              </p>
              <p style="margin-bottom: 16px">
                <input
                  style="
                    width: calc(100% - 32px);
                    padding: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                  "
                  type="tel"
                  placeholder="Enter your mobile number"
                  id="phone"
                  name="phone"
                  required
                />
              </p>
              <p style="text-align: center; margin-bottom: 16px">
                <input
                  style="
                    width: calc(100% - 32px);
                    padding: 16px;
                    border: none;
                    background-color: #57068c;
                    color: #fff;
                    border-radius: 5px;
                  "
                  id="submit"
                  type="submit"
                  value="Register for Newsletter"
                />
              </p>
            </form>
          </div>
        </section>
      </div>
    </main>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const submitButton = document.getElementById("submit");
        const statusMessage = document.getElementById("statusMessage");

        document
          .getElementById("contactForm")
          .addEventListener("submit", function (event) {
            event.preventDefault();
            if (!submitButton.disabled) {
              // Check if submit button is not disabled
              var name = document.getElementById("name").value;
              var email = document.getElementById("email").value;
              var phone = document.getElementById("phone").value;
              fetch("../python/contact.py", {
                method: "POST",
                body: new URLSearchParams({
                  name: name,
                  email: email,
                  phone: phone,
                  
                }),
                headers: {
                  "Content-Type": "application/x-www-form-urlencoded",
                },
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                    // window.location.href = './bike.html';
                    statusMessage.style.color = "green";
                    statusMessage.textContent = data.message;
                  } else {
                    statusMessage.style.color = "red";
                    statusMessage.textContent = data.message;
                  }
                })
                .catch((error) => {
                  console.log(response);
                  console.error("Error:", error);
                });
            }
          });
      });
    </script>
  </body>
</html>
