<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bike</title>
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/responsive.css" />
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="../static/images/nyuad logo.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div class="header-wrapper">
        <span class="menu-logo hp-viewport fas fa-ellipsis-h"></span>
        <ul class="header-list">
          <li class="header-content hp-viewport bike-header">
            <a href="#"
              ><img class="logo" src="../static/images/nyuad logo.png"
            /></a>
          </li>
          <li class="header-content hp-viewport-hide">
            <a href="index.html">Home</a>
          </li>
          <li class="header-content hp-viewport-hide">
            <a href="about.html">About Us</a>
          </li>
          <li class="header-content hp-viewport-hide">
            <a href="bike.html">Book A Bike</a>
          </li>
          <li class="header-content hp-viewport-hide">
            <a href="contact.html">Contact Us</a>
          </li>
          <li class="header-content hp-viewport-hide">
            <a href="registration.html">Register</a>
          </li>
          <li class="header-content hp-viewport-hide">
            <a href="login.html">Sign In</a>
          </li>
        </ul>
      </div>
    </header>

    <main>
      <div class="bgimg display-container">
        <div class="display-middle center">
          <span class="text-white" style="font-size: 100px"
            >NYUAD<br />Bikeshare</span
          >
        </div>
      </div>

      <div class="section-container">
        <!-- Contact/Area Container -->
        <section id="where" style="padding-bottom: 32px">
          <div id="where-content" style="max-width: 700px; margin: 0 auto">
            <h5 style="text-align: center; padding: 48px 0">
              <span style="font-size: 24px">SIGN UP FOR OUR NEWSLETTER</span>
            </h5>
            <p>
              <span style="font-size: 14px"
                >Stay updated with the latest news and events!</span
              >
            </p>
            <p>
              <span style="font-size: 14px"
                >To sign up, simply enter your contacts below:</span
              >
            </p>
            <form id="contactForm" action="../python/contact.py" method="post">
              <p style="margin-bottom: 16px">
                <input
                  style="
                    width: calc(100% - 32px);
                    padding: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                  "
                  type="text"
                  placeholder="Name"
                  id="name"
                  name="name"
                  required
                />
              </p>
              <p style="margin-bottom: 16px">
                <input
                  style="
                    width: calc(100% - 32px);
                    padding: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                  "
                  type="email"
                  placeholder="Email"
                  id="email"
                  name="email"
                  required
                />
              </p>
              <p style="margin-bottom: 16px">
                <input
                  style="
                    width: calc(100% - 32px);
                    padding: 16px;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                  "
                  type="tel"
                  placeholder="0505555555"
                  id="phone"
                  name="phone"
                  required
                />
              </p>
              <p style="text-align: center; margin-bottom: 16px">
                <button
                  style="
                    width: calc(100% - 32px);
                    padding: 16px;
                    border: none;
                    background-color: #57068c;
                    color: #fff;
                    border-radius: 5px;
                  "
                  type="submit"
                  value="Submit"
                >
                  SIGN UP
                </button>
              </p>
            </form>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
