<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NYUAD Bike-Share Terms and Conditions</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <h1>NYUAD Bike-Share Program Terms and Conditions</h1>
      <p>
        Please read these terms and conditions carefully before registering and
        using the NYUAD Bike-Share Program ("Program"). By accessing or using
        the Program, you agree to be bound by these terms.
      </p>

      <h2>Eligibility</h2>
      <p>
        The Program is available only to students, faculty, and staff of New
        York University Abu Dhabi who are in good standing and possess a valid
        NYUAD ID card.
      </p>

      <h2>General Use</h2>
      <p>
        Users are expected to follow all traffic laws and regulations while
        using the bikes. Bikes should be used responsibly and returned to
        designated bike stations in good condition.
      </p>

      <h2>Safety</h2>
      <p>
        All users are encouraged to wear helmets at all times while riding. The
        Program does not provide helmets, and users must procure their own.
      </p>

      <h2>Prohibited Activities</h2>
      <p>
        Bikes may not be used for racing, mountain biking, stunt riding, or any
        other use outside of normal transportation purposes. Users found
        misusing bikes will face penalties including but not limited to
        suspension from the Program.
      </p>

      <h2>Fees and Penalties</h2>
      <p>
        There may be fees associated with the use of the Program. Late returns,
        damage, or loss of bikes will incur additional fees and penalties.
      </p>

      <h2>Liability</h2>
      <p>
        New York University Abu Dhabi is not responsible for any injury, loss,
        or damage as a result of using the NYUAD Bike-Share Program. Users agree
        to release NYUAD from any and all claims related to injuries or damages
        obtained while using the bikes.
      </p>

      <h2>Changes to Terms</h2>
      <p>
        We reserve the right to modify these terms at any time. Your continued
        use of the Program following any changes means that you accept and agree
        to the changes. Users are encouraged to frequently review the terms to
        ensure their understanding.
      </p>

      <div class="button">
        <a href="registration.html" class="back-button">Back to Registration</a>
      </div>
    </div>
  </body>
</html>
